In [1]:
import numpy as np
import pandas as pd

# Assign (numpy) arrays to a dataframe slice

In [2]:
df = pd.DataFrame ({'a' : range(0,12,2), 'b' : range(1,12,2), 'c' : range(1,12,2)})

In [10]:
df['d'] = df.apply(lambda x: 5, axis=1)

In [11]:
df

    a   b   c  d
0   0   1   1  5
1   2   3   3  5
2   4   5   5  5
3   6   7   7  5
4   8   9   9  5
5  10  11  11  5

In [4]:
df.ix[:1,1:3]=[[5, 6], [7, 8]]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [ ]:
df.ix[:1,1:3]=np.zeros((2,2))

In [7]:
# https://stackoverflow.com/questions/42763316/pandas-merging-rows-with-contiguous-intervals

df = pd.DataFrame({
           'RangeBegin': [1,3,5,10,12,42,65],
           'RangeEnd': [2,4,7,11,41,54,100],
           'Var1': ['A','A','A','B','B','B','A'],
           'Var2': ['A','A','B','B','B','B','A']})


df['block'] = ((df['Var1'].shift(1) != df['Var1']) | (df['Var2'].shift(1) != df['Var2'])).astype(int).cumsum()
df_ = df.groupby(['Var1', 'Var2', 'block']).agg({'RangeBegin': np.min, 'RangeEnd': np.max}).reset_index()

In [4]:
df

   RangeBegin  RangeEnd Var1 Var2  block
0           1         2    A    A      1
1           3         4    A    A      1
2           5         7    A    B      2
3          10        11    B    B      3
4          12        41    B    B      3
5          42        54    B    B      3
6          65       100    A    A      4

In [3]:
df_

  Var1 Var2  block  RangeBegin  RangeEnd
0    A    A      1           1         4
1    A    A      4          65       100
2    A    B      2           5         7
3    B    B      3          10        54