In [ ]:
Learn Lua in 15 Minutes : http://tylerneylon.com/a/learn-lua/

- Tables and strings are indexed from 1 rather than 0
- Lua is close to javascript
   - variables are global by default, unless "local" keyword is used
- Lua has garbage collection
- Camel case is common
-  foo:bar() is the same as foo.bar(foo)

tables are lua's only compound data structure.  
They are heterogeneous dictionaries that can also be used as lists.

The main topics not covered are standard libraries:
 * string library
 * table library
 * math library
 * io library
 * os library

# Comments

In [1]:
-- this is a single line comment

In [19]:
--[[
     This is a
     multi-line comment.
--]]

# ;

Only use semicolons to prevent ambiguity.  
Generally only required when writing multiple statements on a line:

In [130]:
a=1; print(a)
a=1 print(a) -- <- works

1
1

(http://www.lua.org/manual/5.2/manual.html#3.3) Function calls and assignments can start with an open parenthesis. This 
possibility leads to an ambiguity in the Lua grammar. Consider the 
following fragment:

a = b + c
(print or io.write)('done')

The grammar could see it in two ways:

a = b + c(print or io.write)('done')

a = b + c; (print or io.write)('done')

# Built-in Functions

## Assert

The assert function checks whether its first argument is not false and simply returns that argument;
if the argument is false (that is, false or nil), assert raises an error. Its second argument, the message, is optional, so that if you do not want to say anything in the error message, you do not have to.

In [39]:
assert(1<2)

true

In [2]:
assert(1>0, "error")

true	error

## Print

In [13]:
print("test")
print "test"

test
test

In [11]:
print(1,2,3)

1	2	3

## I/O

In [3]:
io.write('abc\n')  -- Defaults to stdout.

abc

In [1]:
io.write("version: ", _VERSION, "\n")

version: Lua 5.1
file (0x7f4ab640c740)

In [64]:
line = io.read()  -- Reads next stdin line.

## pairs(table)

Iteration over key-value pairs.  
The order that items are returned is not defined, not even for indexed tables.

In [6]:
t={a=5, b=6, c=7}
--t={"a", "b", "c"}

In [7]:
for key,value in pairs(t) do 
    print(key,value)
end

a	5
b	6
c	7

## ipairs(table)

Allow iteration over index-value pairs. These are key-value pairs where the keys are indices into an array.  
The order in which elements are returned is guaranteed to be in the numeric order of the indices, and non-integer keys are simply skipped.

In [9]:
t={"a", "b", "c"}

In [10]:
for index,value in ipairs(t) do 
    print(index,value)
end

1	a
2	b
3	c

# Variable

In [41]:
assert((1==1)==true)
assert((1==0)==false)

true

Only nil and false are falsy; 0 and '' are true!

All numbers are doubles.

In [9]:
n=5

In [10]:
x, y, z = 1, 2, 3, 4 -- 4 is thrown away.

# Type

In [4]:
n=5
s="abc"

print(type(n))
print(type(s))

number
string

# String

strings are immutable

In [6]:
'walternate'

walternate

In [7]:
"double-quotes are also fine"

double-quotes are also fine

multiline string

In [5]:
[[ Double brackets
    start and end
    multi-line strings.]]

 Double brackets
    start and end
    multi-line strings.

String concatenation uses the .. operator  
If both operands are strings or numbers, then they are converted to strings

In [3]:
print('123 ' .. "abc")
print(123 .. " abc")
print(123 .. 456)

123 abc
123 abc
123456

In [2]:
assert(string.len("abc")==3)

true

# Nil

In [8]:
nil

Undefined variables return nil

In [40]:
foo = anUnknownVariable
assert(foo==nil)

# Tables

Tables are heterogeneous dictinaries

size

In [2]:
t = {}
t[1] = 0
size = #t
print(size)

1

[Programming in Lua, Roberto Ierusalimschy ] it is customary in Lua to start arrays with index 1. The Lua libraries
adhere to this convention; so does the length operator. If your arrays do not
start with 1, you will not be able to use these facilities.

In [3]:
t = {}
-- t[0] = -- not recommended
t[1] = "abc"
t[2] = 30

for i=1,#t do
    print(i, t[i]) 
end

1	abc
2	30

In [1]:
t = {}
t[0] = "abc"
t["one"] = 30
t.two=2

print(t[0])
print(t["one"])
print(t["two"])

abc
30
2

In [157]:
t = {key1 = 'value1', key2 = false} -- the keys key1 and key2 are strings

assert(t.key1=="value1")
t[1] = "abc"
t.newKey = {}  -- Adds a new key/value pair.
t.key2 = nil   -- Removes key2 from the table.

In [21]:
-- Literal notation for any (non-nil) value as key:
u = {['@!#'] = 'qbert', [{}] = 1729, [6.28] = 'tau'}
assert(u[6.28]=="tau")

In [8]:
t={[0] = 5}

Insert  
calling insert without a position inserts the element in the last position of the array

In [10]:
t = {name = 'abc', value = 123}
table.insert(t, 1, 0)
print(t)

{
  1 : 0
  name : abc
  value : 123
}

In [17]:
t = {1, 2, 3}
table.insert(t, 1, 0) -- insert a 0 in position 1
table.insert(t, 4) -- insert a 4 at the last position
print(t)

{
  1 : 0
  2 : 1
  3 : 2
  4 : 3
  5 : 4
}

Remove

In [14]:
t = {1, 2, 3}
table.remove(t, 1) -- remove first element
table.remove(t) -- remove last element
print(t)

{
  1 : 2
}

# _G

_G is a special table of all global variables

In [28]:
a={"a", "b", "c"}
b={1, 2, 3}
assert(_G["a"]==a)

In [30]:
assert(_G['_G'] == _G)

true

## Using tables as lists / arrays

List literals implicitly set up int keys  
A 'list' is not a real type, it is just a table with consecutive integer keys, treated as a list.

In [5]:
v = {'value1', 'value2', 1.21}
for i = 1, #v do -- indices start at 1
  print(i, v[i])  
end

1	value1
2	value2
3	1.21

## Member Function

In [20]:
t = {}
t.f0 = function(n)
    return n+2
end

print(t.f0(2))
-- or
--print(t["f0"](2))

4

In [19]:
t = {}
f0 = function(n) return n+2 end

t.f0=f0
print(t.f0(2))
-- or
--print(t["f0"](2))

4
4

## Namespaces

By using a table to store related functions, it can act as a namespace.

In [15]:
Point = {}

Point.new = function (x, y)
  return {x = x, y = y}  --  return {["x"] = x, ["y"] = y}
end

Point.set_x = function (point, x)
  point.x = x  --  point["x"] = x;
end

## Metamethods

predefined functions that can be overloaded to change functionalities

Full list: http://lua-users.org/wiki/MetatableEvents

. | .
--- | --  
\__index | 
\__newindex |
\__mode |
\__call |
\__metatable |
\__tostring |
\__len |
\__gc |

Mathematic Operators

. | .
--- | -- 
\__unm | 
\__add |
\__sub | Subtraction. Similar to addition, using the '-' operator.
\__mul | Multiplication. Similar to addition, using the '*' operator.
\__div | Division. Similar to addition, using the '/' operator.
\__mod | Modulo. Similar to addition, using the '%' operator.
\__pow | Involution. Similar to addition, using the '^' operator.
\__concat | Concatenation. Similar to addition, using the '..' operator. 

Equivalence Comparison Operators

. | .
--- | -- 
\__eq |
\__lt |
\__le |

### __index

lets you run a custom function or use a "fallback" table if a key in a table doesn't exist.  
If a function is used, its first parameter will be the table that the lookup failed on, and the second parameter will be the key.

In [31]:
t={ __index=function (tab, key) return "not found" end }

--t={}
--t.__index= function(tab, key) return "not found" end

print(t["a"])

nil

In [50]:
t={}

mt = {}
function mt:__index(key)
    assert(self == t) -- self is the table for wich the lookup failed
    return "key not found" 
end

setmetatable(t, mt)

print(t["a"])

key not found

In [3]:
t={ }
mt = { __index= { a="key found!" } }  -- when __index is a table, lua redoes the access in that tabel
setmetatable(t, mt)


print(t["a"])

key found!

### __add

In [34]:
t={n=3}

t.__add = function (lhs, rhs) -- "add" event handler
    return { value = lhs.value + rhs.value }
  end

y = t + t
print(y.value)
--print(t.m)

[string "t={n=3}..."]:7: attempt to perform arithmetic on global 't' (a table value)
stack traceback:
	[string "t={n=3}..."]:7: in main chunk
	[C]: in function 'xpcall'
	/home/alex/torch/install/share/lua/5.1/itorch/main.lua:210: in function </home/alex/torch/install/share/lua/5.1/itorch/main.lua:174>
	/home/alex/torch/install/share/lua/5.1/lzmq/poller.lua:75: in function 'poll'
	/home/alex/torch/install/share/lua/5.1/lzmq/impl/loop.lua:307: in function 'poll'
	/home/alex/torch/install/share/lua/5.1/lzmq/impl/loop.lua:325: in function 'sleep_ex'
	/home/alex/torch/install/share/lua/5.1/lzmq/impl/loop.lua:370: in function 'start'
	/home/alex/torch/install/share/lua/5.1/itorch/main.lua:389: in main chunk
	[C]: in function 'require'
	(command line):1: in main chunk
	[C]: at 0x00405ea0:

### __call

In [25]:
t={}
setmetatable(t, { __call=function () print("called") end })
t()

called

## Metatables

a metatable is a normal table that attaches itself to another normal table to add extra functionalities

In [13]:
t={n=1}
mt={n=10}
ret = setmetatable(t, mt) --return t with mt as metatable

print(t.n)
print(getmetatable(t).n)
print(ret.n)
print(getmetatable(ret).n)
assert(ret == t)
assert(tostring(ret) == tostring(t)) -- compare memory address

1
10
1
10

https://www.lua.org/pil/13.html

Usually, tables in Lua have a quite predictable set of operations. We can add key-value pairs, we can check the value associated with a key, we can traverse all key-value pairs, and that is all. We cannot add tables, we cannot compare tables, and we cannot call a table.

Metatables allow us to change the behavior of a table. For instance, using metatables, we can define how Lua computes the expression a+b, where a and b are tables. Whenever Lua tries to add two tables, it checks whether either of them has a metatable and whether that metatable has an __add field. If Lua finds this field, it calls the corresponding value (the so-called metamethod, which should be a function) to compute the sum.

Each table in Lua may have its own metatable. (userdata also can have metatables).  
Lua always create new tables without metatables:

In [3]:
t = {}
assert(getmetatable(t)==nil)

A table can be its own metatable (so that it describes its own individual behavior).

In [6]:
t={ n=5 }

t.__add = function (lhs, rhs)
-- OR
--function t.__add(lhs, rhs)
    return { n = lhs.n + rhs.n }
  end

setmetatable(t, t)

y = t + t

assert(y.n==10)

In [6]:
t={ n = 5 }

mt = {
  __add = function (lhs, rhs)
    return { n = lhs.n + rhs.n }
  end
}

setmetatable(t, mt)

y = t + t

assert(y.n==10)

In [8]:
t1 = { 1, 2, 3 }

setmetatable(t1, {
   __add = function(lhs, rhs)
      for i = 1, table.maxn(rhs) do
         table.insert(lhs, table.maxn(lhs)+1, rhs[i])
      end
      return lhs
   end
})

t2 = { 4,5,6 }

t3 = t1 + t2

for k,v in ipairs(t3) do
   print(k, v)
end

1	1
2	2
3	3
4	4
5	5
6	6

In [8]:
t1= {}
t2={ n = 1 }
mt = { __index = t2 } --fallback table when index can't be found?

setmetatable(t1, mt)

assert(t1.n==1)

# Classes

Although Lua does not have a built-in concept of classes, they can be implemented using two language features: first-class functions and tables. By placing functions and related data into a table, an object is formed.  

Inheritance (both single and multiple) can be implemented via the metatable mechanism, telling the object to look up nonexistent methods and fields in parent object(s).

Lua is a prototype-based languages (like Self and NewtonScript). In those languages, each object is not an instance of a specific class. Instead, each object may have a prototype, which is a regular object where the first object looks up any operation that it does not know about. To represent a class in such languages, we simply create an object to be used exclusively as a prototype for other objects (its instances). Both classes and prototypes work as a place to put behavior to be shared by several objects.

Declaring member functions:  

> function tablename:fn(...)  
> is the same as  
> function tablename.fn(self, ...)

### Prototype

make b a prototype for a:

After that, a looks up in b for any operation that it does not have.

In [14]:
a={}
b={n=10}
setmetatable(a, {__index = b})
assert(a.n==10)

In [53]:
base = {}
base.__index = base  --  failed table lookups on the instances should fallback to the class table

function base:new(n) -- factory method that create a new object with the table base (self) as prototype
-- or
-- function base.new(self, ...)
  assert(self == base)
  newObj = {n = n} -- instance of class base
  return setmetatable(newObj, self) --return the new object with base as metatable
end

function base:get_n()
  assert(self ~= base) -- self is the instance, not the prototype
  print(self:print_n()) -- calling self.print_n() will fail
  return self.n
end

function base:print_n()
    print(self.n)
end

b = base:new(1)
assert(b:get_n()==1)

1

Inheritance

# Operators

not equal

In [17]:
assert(1~=2)

true

In [18]:
assert(1==1)

true

In [31]:
-- .. operator

ternary (a?b:c)

In [43]:
aBoolValue=true
ans = aBoolValue and 'yes' or 'no'
assert(ans=="yes")

exponential:

In [10]:
assert(9^2==81)

true

# Control Flow

While loop

In [9]:
num=0
while num < 50 do
  num = num + 1  -- No ++ or += type operators.
end

if

In [26]:
num=50
s="sdf"
if num > 40 then
  print('over 40')
elseif s ~= 'walternate' then
  print('not over 40\n')
else
  thisIsGlobal = 5
end

over 40

foreach

In [167]:
--t={ zero=0, one=1 }
t={"one", "two", "three"}

print(#t)

for k,v in ipairs(t) do
   print(k,v)
end

3
1	one
2	two
3	three

range (begin, end[, step])

In [44]:
karlSum = 0
for i = 1, 100 do  -- The range includes both ends.
  karlSum = karlSum + i
end

In [ ]:
-- Use "100, 1, -1" as the range to count down:
fredSum = 0
for j = 100, 1, -1 do fredSum = fredSum + j end

repeat

In [1]:
num=10
repeat
  num = num - 1
until num == 0

Table iteration

In [30]:
t = {key1 = 'value1', key2 = false}

for key, val in pairs(t) do
  print(key, val)
end

key2	false
key1	value1

# Functions

In [4]:
function f(n)
    return n+1
end

In [5]:
print(f(2))

3

function object:

In [7]:
g=function (n) return n+2 end

In [8]:
print(g(2))

4

These are the same:

In [12]:
function f(n) return n+1 end
f = function (n) return n+1 end

A *one-table-parameter* function call does not need parentesis:

In [22]:
function f(x) print(x.key1) end

f({key1 = 'abc'})
-- or
f{key1 = 'abc'}

abc
abc

In [176]:
if False then
    a = {p = print}
    a.p("Hello World") --> Hello World
    print = math.sin  -- `print' now refers to the sine function
    a.p(print(1))     --> 0.841470
    sin = a.p         -- `sin' now refers to the print function
    sin(10, 20)       --> 10      20
end

Because functions are first-class values in lua, we can store them in table fields:

In [19]:
t={ n=1, add=function (n) return n+1 end }

assert(t.add(t.n)==2)

In [27]:
t={ n=1 }

t.add=function (n) return n+1 end

assert(t.add(t.n)==2)

In [29]:
t = { n=1 }

--function t.add(self)
--or
--t.add=function (self)
--    self.n=self.n+1
--end    
--or
function t:add()
    self.n=self.n+1
end

t:add()
t.add(t)

assert(t.n==3)

Tables are always passed by reference

In [20]:
a_table = {x = 10}
assert(a_table["x"]==10)

b_table = a_table
b_table["x"] = 20

assert(b_table["x"]==20)
assert(a_table["x"]==20)

In [19]:
function f(t)
    t.n=t.n+1
end

t={ n=1 }
f(t)

assert(t.n==2)

# Argument Binding

In [32]:
function add1(a)
   return a+1
end

function bind(f, a)
   return function() return f(a) end
end

local f = bind(add1, 4)
print(f())

5

In [29]:
function add(a, b)
   return a+b
end

function bind(f, b)
   return function(a) return f(a, b) end
end

local add1 = bind(add, 1)
print(add1(10))

11

## Closure

In [2]:
function add(n)
    return m+n
end

m=5
assert(add(1)==6)

In [12]:
function addTo(n)
    ret=function (m)
        return n+m
    end
    return ret 
end

addToOne=addTo(1)
addToTwo=addTo(2)

assert(addToOne(1)==2)
assert(addToTwo(2)==4)

# Modules

a collection of modules is a package

lua equivalent to namespaces

"require" is the standard way to include modules.

require acts like:  
local mod = (function ()  
    [contents of mod.lua]  
end)()  
It's like mod.lua is a function body, so that

locals inside mod.lua are invisible outside it.

In [11]:
mod = require('mod') -- run the file mod.lua
-- or
require("mod")

In [12]:
print(mod)
print(base_math)

{
  add : function: 0x41a32368
}
nil

In [3]:
print(type(mod))

table

In [4]:
mod.add(2, 4)

6

# Variable Scope

Variables are global by default

In [27]:
local line = "sfd"

In [40]:
if true then
    n=5 --global
    local m=6
    
    if true then
        assert(m==6)
    end
end
assert(n==5)
assert(m==nil)

In [19]:
function f()
    n=5 --global
    local m=6
end
--assert(n==5)
--assert(m==nil)

# Date / Time

number of seconds since some epoch

In [107]:
os.time()

1482595984

In [108]:
os.date()

Sat Dec 24 16:13:19 2016

wday: week day (1 is Sunday)  
yday: year day (1 is January 1)

In [109]:
os.date("*t", os.time())

{
  day : 24
  year : 2016
  isdst : false
  sec : 17
  month : 12
  yday : 359
  wday : 7
  hour : 16
  min : 15
}

%a	abbreviated weekday name (e.g., Wed)  
%A	full weekday name (e.g., Wednesday)  
%b	abbreviated month name (e.g., Sep)  
%B	full month name (e.g., September)  
%c	date and time (e.g., 09/16/98 23:48:10)   -- DEFAULT  
%d	day of the month (16) [01-31]  
%H	hour, using a 24-hour clock (23) [00-23]  
%I	hour, using a 12-hour clock (11) [01-12]  
%M	minute (48) [00-59]  
%m	month (09) [01-12]  
%p	either "am" or "pm" (pm)  
%S	second (10) [00-61]  
%w	weekday (3) [0-6 = Sunday-Saturday]  
%x	date (e.g., 09/16/98)  
%X	time (e.g., 23:48:10)  
%Y	full year (1998)  
%y	two-digit year (98) [00-99]  
%%	the character `%´

In [6]:
print(os.date("today is %A, in %B"))

today is Monday, in October

In [1]:
print(os.date("%x", os.time()))

10/02/17

In [2]:
print(os.date("%Y%m%d_%Hh%Mm%Ss", os.time()))

20171002_15h18m48s

os.clock() returns the number of seconds of CPU time for the program.

In [112]:
local x = os.clock()
local s = 0
for i=1,100000 do s = s + i end
print(string.format("elapsed time: %.2f\n", os.clock() - x))

elapsed time: 0.00

# unpack()

An important use for unpack is in a generic call mechanism. A generic call mechanism allows you to call any function, with any arguments, dynamically.

In [4]:
a,b = unpack{10,20,30} -- a=10, b=20, 30 is discarded

In [6]:
function f(a,b,c) 
    return a+b+c
end

args={1,2,3}
assert(f(unpack(args))==6)

# Local

In [3]:
local n=0
while n<3 do
  --print(n)
  n=n+1
end


# Sandbox