In [1]:
import pandas as pd
import itertools
import numpy as np

# Multi-index Index

In [2]:
data = {"first": [0,0,1,1], "second": [0,1,0,1], "value":range(4)}
df=pd.DataFrame(data)
print df

tuples=zip(df["first"].as_matrix(), df["second"].as_matrix())
index=pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

s=pd.Series(df["value"].as_matrix(), index=index)

   first  second  value
0      0       0      0
1      0       1      1
2      1       0      2
3      1       1      3

In [3]:
s.to_frame()

              0
first second
0     0       0
      1       1
1     0       2
      1       3

In [4]:
s[0,1]

1

# Multi-index Columns

## Example 1

In [5]:
data = pd.DataFrame(np.random.randn(10, 5), columns=('0_n', '1_n', '0_p', '1_p', 'x'))

In [6]:
data

        0_n       1_n       0_p       1_p         x
0 -0.682256  0.339352  0.444529  1.639585  0.162968
1  0.684657  0.345660 -0.249783 -1.108155  0.000840
2  0.236351  1.039465  0.447159  0.657030  0.451423
3 -0.561547 -1.462654  0.919912 -0.687168 -0.106188
4  2.281549  0.040817  2.069136  1.131469 -0.502376
5  1.080127 -0.818928  0.366485 -0.148223 -0.004676
6  0.492118  0.154489  0.234686 -0.056173  0.442780
7  0.823507  0.090587 -0.690999  1.244924 -1.034858
8  0.100048  0.492473  0.322140 -0.482251  0.471794
9  1.100691 -0.446378  0.165224  0.232284 -0.269126

In [16]:
indices, groups, others = set(), set(), set()
for col_name in data.columns:
    if '_' in col_name:
        (lvl0_name, lvl1_name) = col_name.split('_')
#         index = pd.MultiIndex.from_tuples((lvl0_name, lvl1_name),)
        indices.add(int(lvl0_name))
        groups.add(lvl1_name)
    else:
        others.add(col_name)
assert(indices == set({0, 1}))
assert(groups == set({'n', 'p'}))
assert(others == set({'x'}))
        
columns = list(itertools.product(groups, indices))
columns = pd.MultiIndex.from_tuples(columns)
ret = pd.DataFrame(columns=columns)

for c in columns:
    ret[c] = data['%d_%s' % (int(c[1]), c[0])]
for c in others:
    ret[c] = data['%s' % c]
ret.rename(columns={'total': 'total_indices'}, inplace=True)

('p', 0)
('p', 1)
('n', 0)
('n', 1)

In [9]:
ret

          p                   n                   x
          0         1         0         1
0  0.444529  1.639585 -0.682256  0.339352  0.162968
1 -0.249783 -1.108155  0.684657  0.345660  0.000840
2  0.447159  0.657030  0.236351  1.039465  0.451423
3  0.919912 -0.687168 -0.561547 -1.462654 -0.106188
4  2.069136  1.131469  2.281549  0.040817 -0.502376
5  0.366485 -0.148223  1.080127 -0.818928 -0.004676
6  0.234686 -0.056173  0.492118  0.154489  0.442780
7 -0.690999  1.244924  0.823507  0.090587 -1.034858
8  0.322140 -0.482251  0.100048  0.492473  0.471794
9  0.165224  0.232284  1.100691 -0.446378 -0.269126

## Example 2

In [17]:
data = pd.DataFrame(np.random.randn(10, 5), columns=('0_n', '1_n', '0_p', '1_p', 'x'))

In [18]:
data

        0_n       1_n       0_p       1_p         x
0  0.510305  0.540592 -0.399434 -0.226679  0.136374
1 -1.686223  0.305553 -0.271202 -0.420788  0.023815
2  0.918915 -0.912638  0.599102  0.230952  0.448617
3 -0.062494  1.128747 -0.158436 -1.901391 -0.083625
4  1.586500 -0.195746  0.990040 -0.131220 -1.545867
5 -0.191243  0.243064 -0.428167  1.872334  1.204189
6 -0.960025 -2.627379  0.547084  0.869504  0.682220
7  1.964313 -0.042387  0.661663  1.011448  0.479025
8 -0.082247 -0.893074  0.413745  0.535620 -0.375204
9  0.040863  0.699765 -0.926453  0.264235  0.725608

In [42]:
columns = [('n', '0'), ('n', '1'), ('p', '0'), ('p', '1'), ('x')]
columns = pd.MultiIndex.from_tuples(columns)
ret = pd.DataFrame(columns=columns)

ret[('n', '0')] = data['0_n']
ret[('n', '1')] = data['1_n']
ret[('p', '0')] = data['0_p']
ret[('p', '1')] = data['1_p']
ret[('x')]      = data['x']

In [43]:
ret

          n                   p                   x
          0         1         0         1       NaN
0  0.510305  0.540592 -0.399434 -0.226679  0.136374
1 -1.686223  0.305553 -0.271202 -0.420788  0.023815
2  0.918915 -0.912638  0.599102  0.230952  0.448617
3 -0.062494  1.128747 -0.158436 -1.901391 -0.083625
4  1.586500 -0.195746  0.990040 -0.131220 -1.545867
5 -0.191243  0.243064 -0.428167  1.872334  1.204189
6 -0.960025 -2.627379  0.547084  0.869504  0.682220
7  1.964313 -0.042387  0.661663  1.011448  0.479025
8 -0.082247 -0.893074  0.413745  0.535620 -0.375204
9  0.040863  0.699765 -0.926453  0.264235  0.725608

# Misc

In [7]:
# columns = pd.MultiIndex.from_tuples([('a',0), ('a', 1)])
# df = pd.DataFrame(columns=columns)

# df[('a', 0)]=range(3,6)
# df[('a', 1)]=['a', 'b', 'c']
# df[('ts', '')]=range(3)

# l = [0,1,0]

In [8]:
# df.apply(lambda x: x[('a', l[x[('ts', '')]])], axis='columns')