In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("../datasets/drinks.csv")

In [4]:
data.sample(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
149,Saudi Arabia,0,5,0,0.1,Asia
121,New Zealand,203,79,175,9.3,Oceania
105,Malta,149,100,120,6.6,Europe
37,Colombia,159,76,3,4.2,South America
2,Algeria,25,0,14,0.7,Africa
176,Turkey,51,22,7,1.4,Asia
29,Cabo Verde,144,56,16,4.0,Africa
114,Morocco,12,6,10,0.5,Africa
14,Barbados,143,173,36,6.3,North America
69,Guatemala,53,69,2,2.2,North America

In [14]:
def f(series):
    return series.mean()

In [15]:
data.groupby(["continent", "country"]).agg(f)

                                        beer_servings  spirit_servings  \
continent     country
Africa        Algeria                              25                0
              Angola                              217               57
              Benin                                34                4
              Botswana                            173               35
              Burkina Faso                         25                7
              Burundi                              88                0
              Cabo Verde                          144               56
              Cameroon                            147                1
              Central African Republic             17                2
              Chad                                 15                1
              Comoros                               1                3
              Congo                                76                1
              Cote d'Ivoire                        37                1
              DR Congo                             32                3
              Djibouti                             15               44
              Egypt                                 6                4
              Equatorial Guinea                    92                0
              Eritrea                              18                0
              Ethiopia                             20                3
              Gabon                               347               98
              Gambia                                8                0
              Ghana                                31                3
              Guinea                                9                0
              Guinea-Bissau                        28               31
              Kenya                                58               22
              Lesotho                              82               29
              Liberia                              19              152
              Libya                                 0                0
              Madagascar                           26               15
              Malawi                                8               11
...                                               ...              ...
North America Trinidad & Tobago                   197              156
              USA                                 249              158
Oceania       Australia                           261               72
              Cook Islands                          0              254
              Fiji                                 77               35
              Kiribati                             21               34
              Marshall Islands                      0                0
              Micronesia                           62               50
              Nauru                                49                0
              New Zealand                         203               79
              Niue                                188              200
              Palau                               306               63
              Papua New Guinea                     44               39
              Samoa                               105               18
              Solomon Islands                      56               11
              Tonga                                36               21
              Tuvalu                                6               41
              Vanuatu                              21               18
South America Argentina                           193               25
              Bolivia                             167               41
              Brazil                              245              145
              Chile                               130              124
              Colombia                            159               76
              Ecuador                             162               74
              Guyana                               93              302
              Paraguay                            213              117
              Peru                                163              160
              Suriname                            128              178
              Uruguay                             115               35
              Venezuela                           333              100

                                        wine_servings  \
continent     country
Africa        Algeria                              14
              Angola                               45
              Benin                                13
              Botswana                             35
              Burkina Faso                          7
              Burundi                               0
              Cabo Verde                           16
              Cameroon                              4
              Central African Republic              1
              Chad                                  1
              Comoros                               1
              Congo                                 9
              Cote d'Ivoire                         7
              DR Congo                              1
              Djibouti                              3
              Egypt                                 1
              Equatorial Guinea                   233
              Eritrea                               0
              Ethiopia                              0
              Gabon                                59
              Gambia                                1
              Ghana                                10
              Guinea                                2
              Guinea-Bissau                        21
              Kenya                                 2
              Lesotho                               0
              Liberia                               2
              Libya                                 0
              Madagascar                            4
              Malawi                                1
...                                               ...
North America Trinidad & Tobago                     7
              USA                                  84
Oceania       Australia                           212
              Cook Islands                         74
              Fiji                                  1
              Kiribati                              1
              Marshall Islands                      0
              Micronesia                           18
              Nauru                                 8
              New Zealand                         175
              Niue                                  7
              Palau                                23
              Papua New Guinea                      1
              Samoa                                24
              Solomon Islands                       1
              Tonga                                 5
              Tuvalu                                9
              Vanuatu                              11
South America Argentina                           221
              Bolivia                               8
              Brazil                               16
              Chile                               172
              Colombia                              3
              Ecuador                               3
              Guyana                                1
              Paraguay                             74
              Peru                                 21
              Suriname                              7
              Uruguay                             220
              Venezuela                             3

                                        total_litres_of_pure_alcohol
continent     country
Africa        Algeria                                            0.7
              Angola                                             5.9
              Benin                                              1.1
              Botswana                                           5.4
              Burkina Faso                                       4.3
              Burundi                                            6.3
              Cabo Verde                                         4.0
              Cameroon                                           5.8
              Central African Republic                           1.8
              Chad                                               0.4
              Comoros                                            0.1
              Congo                                              1.7
              Cote d'Ivoire                                      4.0
              DR Congo                                           2.3
              Djibouti                                           1.1
              Egypt                                              0.2
              Equatorial Guinea                                  5.8
              Eritrea                                            0.5
              Ethiopia                                           0.7
              Gabon                                              8.9
              Gambia                                             2.4
              Ghana                                              1.8
              Guinea                                             0.2
              Guinea-Bissau                                      2.5
              Kenya                                              1.8
              Lesotho                                            2.8
              Liberia                                            3.1
              Libya                                              0.0
              Madagascar                                         0.8
              Malawi                                             1.5
...                                                              ...
North America Trinidad & Tobago                                  6.4
              USA                                                8.7
Oceania       Australia                                         10.4
              Cook Islands                                       5.9
              Fiji                                               2.0
              Kiribati                                           1.0
              Marshall Islands                                   0.0
              Micronesia                                         2.3
              Nauru                                              1.0
              New Zealand                                        9.3
              Niue                                               7.0
              Palau                                              6.9
              Papua New Guinea                                   1.5
              Samoa                                              2.6
              Solomon Islands                                    1.2
              Tonga                                              1.1
              Tuvalu                                             1.0
              Vanuatu                                            0.9
South America Argentina                                          8.3
              Bolivia                                            3.8
              Brazil                                             7.2
              Chile                                              7.6
              Colombia                                           4.2
              Ecuador                                            4.2
              Guyana                                             7.1
              Paraguay                                           7.3
              Peru                                               6.1
              Suriname                                           5.6
              Uruguay                                            6.6
              Venezuela                                          7.7

[193 rows x 4 columns]