In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("../datasets/drinks.csv")

hierarchical index

In [4]:
data.set_index(["continent", "country"], inplace=True)

In [7]:
data.sort_index(inplace=True)

In [9]:
data.head(10)

                                    beer_servings  spirit_servings  \
continent country
Africa    Algeria                              25                0
          Angola                              217               57
          Benin                                34                4
          Botswana                            173               35
          Burkina Faso                         25                7
          Burundi                              88                0
          Cabo Verde                          144               56
          Cameroon                            147                1
          Central African Republic             17                2
          Chad                                 15                1

                                    wine_servings  \
continent country
Africa    Algeria                              14
          Angola                               45
          Benin                                13
          Botswana                             35
          Burkina Faso                          7
          Burundi                               0
          Cabo Verde                           16
          Cameroon                              4
          Central African Republic              1
          Chad                                  1

                                    total_litres_of_pure_alcohol
continent country
Africa    Algeria                                            0.7
          Angola                                             5.9
          Benin                                              1.1
          Botswana                                           5.4
          Burkina Faso                                       4.3
          Burundi                                            6.3
          Cabo Verde                                         4.0
          Cameroon                                           5.8
          Central African Republic                           1.8
          Chad                                               0.4

In [15]:
data.loc[[("Africa", "Algeria")]]

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
Africa,Algeria,25,0,14,0.7

In [17]:
data.loc[[("Africa", "Algeria")], "beer_servings"]

continent  country
Africa     Algeria    25
Name: beer_servings, dtype: int64