In [6]:
import functools
import pandas as pd
import numpy as np

In [4]:
data_00=pd.DataFrame({"order_id":["0", "1"], "customer_id":["0", "1"], "data_00":["a", "b"]})
data_01=pd.DataFrame({"order_id":["0", "1"], "customer_id":["0", "1"], "data_01":["0", "1"]})

data = data_00.merge(data_01, on=["order_id", "customer_id"], how='outer')
# data = pd.merge(data_00, data_01, on=["order_id", "customer_id"], how='outer')

In [5]:
data.head()

  order_id customer_id data_00 data_01
0        0           0       a       0
1        1           1       b       1

In [7]:
functools.reduce(lambda  left, right: pd.merge(left, 
                                                   right, 
                                                   left_index=True, 
                                                   right_index=True, 
                                                   how='outer'), 
                     [data_00, data_00, data_01])

,order_id_x,customer_id_x,data_00_x,order_id_y,customer_id_y,data_00_y,order_id,customer_id,data_01
0,0,0,a,0,0,a,0,0,0
1,1,1,b,1,1,b,1,1,1