In [32]:
import pandas as pd

pandas merge columns based on mask

In [33]:
df = pd.DataFrame()
df['a'] = [5]*5
df['b'] = [3]*5
df['m'] = [True, True, True, False, False]

df['merged'] = df['a'].where(df['m'], other=df['b'])

In [34]:
df

   a  b      m  merged
0  5  3   True       5
1  5  3   True       5
2  5  3   True       5
3  5  3  False       3
4  5  3  False       3

In [18]:
# df.loc[2:5, 'xu'] = 6

In [35]:
d = df[df['m']].copy(True)
d['merged'] = 6

In [36]:
d

   a  b     m  merged
0  5  3  True       6
1  5  3  True       6
2  5  3  True       6

In [37]:
df.update(d)

In [38]:
df

     a    b      m  merged
0  5.0  3.0   True     6.0
1  5.0  3.0   True     6.0
2  5.0  3.0   True     6.0
3  5.0  3.0  False     3.0
4  5.0  3.0  False     3.0

In [31]:
df

     a    b      m  merged
0  5.0  3.0   True     6.0
1  5.0  3.0   True     6.0
2  5.0  3.0   True     6.0
3  5.0  3.0  False     3.0
4  5.0  3.0  False     3.0