# Series

NOTE: Selecting a single column from the DataFrame will return a Series object.

In [1]:
import pandas as pd

construction

In [2]:
data = pd.Series(["Paris", "London", 8630000, 2244000])

In [3]:
data[2:4]
# data[data > 2]

2    8630000
3    2244000
dtype: object

In [4]:
dic = {
    "Paris":2244000, 
    "London":8630000
}
data = pd.Series(dic)

In [5]:
data

Paris     2244000
London    8630000
dtype: int64

`shift()`

In [6]:
s = pd.Series(data=range(5, 10), dtype=int)

In [7]:
s

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [8]:
s.shift(fill_value=0)

0    0
1    5
2    6
3    7
4    8
dtype: int64

`subtract()`

In [9]:
s = pd.Series(index=range(5), data=2)
t = pd.Series(index=range(2,4), data=2)

In [10]:
s

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [11]:
t

2    2
3    2
dtype: int64

In [12]:
s.subtract(t) #, fill_value=s)

0    NaN
1    NaN
2    0.0
3    0.0
4    NaN
dtype: float64

In [13]:
# s = pd.Series(index=[2, 4], data=[5,6])
# f = pd.Series(index=range(10), data=99)
# a = s.add(f)#, fill_value=0)