# `apply()`

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    'A': [ 0, 0, 1, 1 ], 
    'B': range(1, 5), 
    # 'C': range(5, 9)
})

In [10]:
def f(x):
    # print(x)
    # print(type(x))
    return pd.Series([2,5])

In [11]:
df = df.groupby('A').apply(f)

In [12]:
df

   0  1
A
0  2  5
1  2  5