# `Transform()`

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': range(3), 'B': range(1, 4)})

In [3]:
df

   A  B
0  0  1
1  1  2
2  2  3

In [4]:
df.transform(lambda x: x + 1)

   A  B
0  1  2
1  2  3
2  3  4